{% extends 'base.html'%}

{% load staticfiles %}
{% load base_tags %}

{% block head %}

{% endblock head %}

{%  block nav %}
    {% nav_bar %}
{%  endblock nav %}

{% block content %}

<br>
<div class="wrapper" style="padding-left: 30px; padding-right: 30px">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ image.image }}</h2>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5">
            <canvas id="canvas" class="absolute" style="border:2px solid gray;"></canvas>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <div class="row ">
                            <div class="col-lg-7 align-self-end">
                                <h5 class="title"> 분석 옵션 </h5>
                            </div>
                            <div class="col-lg-5 align-self-center">
                                <button type="button" class="btn btn-primary" id="btn_analysis">분석 시작</button>
                            </div>
                        </div>
                    </header>
                    <div class="card-body">
                        <label><h6>균열 여부 결정 임계값</h6></label>
                        <div class="range-slider">
                            <input class="input-range" id="severity_threshold" type="range" value="200" min="0" max="255" style="width: calc(100% - 75px)">
                            <span class="range-value"></span>
                        </div>
                        <br>
                        <label><h6>Region 결합 방법</h6></label>
                        <!--option selector-->
                        <select class="form-control" id="select_region_connectivity">
                            <option value="0">Connectivity - 4</option>
                            <option value="1" selected>Connectivity - 8</option>
                        </select>
                        <br>
                        <label><h6>Region Noise Filter Option</h6></label>
                        <!--option selector-->
                        <select class="form-control" id="select_region_noise_filter">
                            <option value="0">Nothing</option>
                            <option value="1">구멍 채우기</option>
                            <option value="2">모서리 자르기</option>
                            <option value="3" selected>모서리 자르기 및 구멍 채우기</option>
                        </select>
                        <br>
                    </div>
                </article>
            </div>
            <br>
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <div class="row ">
                            <div class="col-lg-9 align-self-end">
                                <h5 class="title"> 보기 옵션 </h5>
                            </div>
                        </div>
                    </header>
                    <div class="card-body">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkbox_origin">
                            <label class="custom-control-label" for="chkbox_origin"> <h8>도로 이미지</h8> </label>
                        </div>
                    </div>
                </article>

                <!--<div class="card-group-item">-->
                    <!--<article class="card-group">-->
                        <!--<div class="card">-->
                            <!--<header class="card-header"><h6 class="title"> 전문가 태깅 </h6></header>-->
                            <!--<div class="card-body">-->
                                <!--<div class="custom-control custom-checkbox">-->
                                    <!--<input type="checkbox" class="custom-control-input" id="chkbox_seg_gt">-->
                                    <!--<label class="custom-control-label" for="chkbox_seg_gt"> <h7>균열</h7> </label>-->
                                    <!--</div>-->
                                <!--<div class="custom-control custom-checkbox">-->
                                    <!--<input type="checkbox" class="custom-control-input" id="chkbox_cls_gt">-->
                                    <!--<label class="custom-control-label" for="chkbox_cls_gt"> <h7>균열 형식(Patch 별)</h7> </label>-->
                                <!--</div>-->
                                <!--<div class="custom-control custom-checkbox">-->
                                    <!--<input type="checkbox" class="custom-control-input" id="chkbox_region_gt">-->
                                    <!--<label class="custom-control-label" for="chkbox_region_gt"> <h7>균열 형식(Region 별)</h7> </label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</article>-->
                <!--</div>-->
                <div class="card-group-item">
                    <article class="card-group">
                        <div class="card">
                            <header class="card-header"><h6 class="title"> 분석 결과 </h6></header>
                            <div class="card-body">
                                <label><h6>균열 이미지</h6></label>
                                <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" id="radio_seg_no_th" name="group_of_seg_image">
                                  <label class="custom-control-label" for="radio_seg_no_th"><h7>No Threshold</h7></label>
                                </div>
                                <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" id="radio_seg_th" name="group_of_seg_image">
                                  <label class="custom-control-label" for="radio_seg_th">Thresholding</label>
                                </div>
                                <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" id="radio_seg_hl" name="group_of_seg_image">
                                  <label class="custom-control-label" for="radio_seg_hl">Region Highlight</label>
                                </div>
                                <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" id="radio_seg_nothing" name="group_of_seg_image">
                                  <label class="custom-control-label" for="radio_seg_nothing">Nothing</label>
                                </div>
                                <!--<div class="custom-control custom-radio">-->
                                  <!--<input type="radio" class="custom-control-input" id="radio_seg_hl_th" name="group_of_seg_image">-->
                                  <!--<label class="custom-control-label" for="radio_seg_hl_th">Region Highlight(Thresholding)</label>-->
                                <!--</div>-->

                                <br>
                                <label><h6>균열 형식</h6></label>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_cls">
                                    <label class="custom-control-label" for="chkbox_cls"> <h7>Patch 별</h7> </label>
                                    <span class="badge badge-primary badge-pill" id="badge_cls" style="float:right"></span>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_region">
                                    <label class="custom-control-label" for="chkbox_region" > <h7>Region 별 Patch</h7> </label>
                                    <span class="badge badge-primary badge-pill" id="badge_region"  style="float:right"></span>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_region_bbox">
                                    <label class="custom-control-label" for="chkbox_region_bbox" > <h7>Region 별 Bounding Box</h7> </label>
                                    <span class="badge badge-primary badge-pill" id="badge_region_bbox"  style="float:right"></span>
                                </div>

                                <br>
                                <label><h6>균열 최대 지점</h6></label>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_severity_point">
                                    <label class="custom-control-label" for="chkbox_severity_point" > <h7>Patch 별</h7> </label>
                                    <span class="badge badge-primary badge-pill" id="badge_severity_point"  style="float:right"></span>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_region_severity_point">
                                    <label class="custom-control-label" for="chkbox_region_severity_point" > <h7>Region 별</h7> </label>
                                    <span class="badge badge-primary badge-pill" id="badge_region_severity_point"  style="float:right"></span>
                                </div>

                                <br>
                                <label><h6>Patching</h6></label>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_patching_bbox">
                                    <label class="custom-control-label" for="chkbox_patching_bbox"> <h7>Bounding box</h7> </label>
                                    <span class="badge badge-primary badge-pill" id="badge_patching_bbox" style="float:right"></span>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_patching_region">
                                    <label class="custom-control-label" for="chkbox_patching_region" > <h7>Region</h7> </label>
                                    <span class="badge badge-primary badge-pill" id="badge_patching_region"  style="float:right"></span>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_patching_contour">
                                    <label class="custom-control-label" for="chkbox_patching_contour" > <h7>외곽선</h7> </label>
                                    <span class="badge badge-primary badge-pill" id="badge_patching_contour"  style="float:right"></span>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbox_patching_seg">
                                    <label class="custom-control-label" for="chkbox_patching_seg" > <h7></h7>Segmentation</label>
                                    <span class="badge badge-primary badge-pill" id="badge_patching_seg"  style="float:right"></span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <br>
            <!--<div class="text-center" id="apply_wrapper">-->
                <!--<button type="button" id="btn_apply" class="btn btn-outline-primary">적용</button>-->
            <!--</div>-->
        </div>
        <div class="col-lg-5">
            <table class="table">
                <thead>
                    <tr>
                        <th> Region </th>
                        <th> 균열종류 </th>
                        <th> 폭(mm) </th>
                        <th> 길이(mm) </th>
                        <th> 면적(mm²) </th>
                        <th> 평균 심각도 폭(mm) </th>
                        <th> 최대 심각도 폭(mm) </th>
                        <th> 심각도 </th>
                    </tr>
                </thead>
                <tbody id="table_severity">

                </tbody>
            </table>
        </div>
    </div>
    <br>


</div>
{% endblock content %}

{% block jquery %}
<script>
var range = $('.input-range'),
    value = $('.range-value');

value.html(range.attr('value'));

range.on('input', function(){
    value.html(this.value);
});
d3.select('#chkbox_origin').property('checked', true);

var img = [];
var img_seg = new Image();
var img_seg_th = new Image();
var img_seg_hl = new Image();
var img_seg_gt = new Image();
var img_origin = new Image();

var canvas = document.getElementById('canvas');

var colors = [
    "rgb(255, 0, 0)",
    "rgb(29, 219, 22)", "rgb(0, 84, 255)", "rgb(255, 228, 0)", "rgb(255, 187, 0)",
    "rgb(255, 0, 127)", "rgb(95, 0, 255)"
]


var cracks;
var regions;
var patchings;
var region_colors = []
var region_text_colors = []

function get_cracks() {
    $.ajax({
        url: "{% url 'get_cracks' %}",
        type: "POST",
        data: {
            name: 'get_cracks',
            image_pk: '{{ image_pk }}',
        },
        success: function (response) {
            cracks = response['cracks']
            d3.select("#badge_cls").text(cracks.length)
        }
    });
}
function get_regions() {
    $.ajax({
        url: "{% url 'get_regions' %}",
        type: "POST",
        data: {
            name: 'get_regions',
            image_pk: '{{ image_pk }}',
        },
        success: function (response) {
            regions = response['regions']
            d3.select("#badge_region").text(regions.length)
            d3.select("#badge_region_bbox").text(regions.length)

            for (var i = 0; i < regions.length; i++) {
                var r = (Math.floor(Math.random() * 256));
                var g = (Math.floor(Math.random() * 256));
                var b = (Math.floor(Math.random() * 256));
                var rev_r = 255 - r;
                var rev_g = 255 - g;
                var rev_b = 255 - b;
                region_colors.push('rgb(' + r + ',' + g + ',' + b + ')');
                region_text_colors.push('rgb(' + rev_r + ',' + rev_g + ',' + rev_b + ')');
            }
            var table_severity = d3.select("#table_severity");
            for (var i = 0; i < regions.length; i++) {
                if (regions[i]['region_type'] == "patch") { text = "PAT"; }
                else if (regions[i]['region_type'] == "ac") { text = "AC"; }
                else if (regions[i]['region_type'] == "lc") { text = "LC"; }
                else if (regions[i]['region_type'] == "tc") { text = "TC"; }

                var tr = table_severity.append("tr");
                tr.append("td").attr("class", "region_num").text(regions[i]['region_num']);
                tr.append("td").attr("class", "region_type").text(text);

                var maxx = regions[i]['severity_results']['maxx'];
                var maxy = regions[i]['severity_results']['maxy'];
                var minx = regions[i]['severity_results']['minx'];
                var miny = regions[i]['severity_results']['miny'];
                var total_average_width = regions[i]['severity_results']['total_average_width'];
                var total_max_width = regions[i]['severity_results']['total_max_width'];
                var max_width_x = regions[i]['severity_results']['max_width_x'];
                var max_width_y = regions[i]['severity_results']['max_width_y'];
                var severity = capitalizeFirstLetter(String(regions[i]['severity_results']['severity']));


                var width = maxx - minx;
                var height = maxy - miny;
                if (text == "PAT") {
                    tr.append("td").attr("class", "severity_width").text("-");
                    tr.append("td").attr("class", "severity_height").text("-");
                    tr.append("td").attr("class", "severity_area").text("-");
                    tr.append("td").attr("class", "severity_area").text("-");
                    tr.append("td").attr("class", "severity_area").text("-");
                    tr.append("td").attr("class", "severity_severity").text("-");
                }
                else {
                    tr.append("td").attr("class", "crack_width").text(comma(width));
                    tr.append("td").attr("class", "crack_height").text(comma(height));
                    tr.append("td").attr("class", "crack_area").text(comma(width * height));
                    tr.append("td").attr("class", "crack_area").text(total_average_width.toFixed(6));
                    tr.append("td").attr("class", "crack_area").text(total_max_width);
                    tr.append("td").attr("class", "crack_severity").text(severity);
                }
            }
        }
    });
}

function get_patching() {
    $.ajax({
        url: "{% url 'get_patching' %}",
        type: "POST",
        data: {
            name: 'get_patching',
            image_pk: '{{ image_pk }}',
        },
        success: function (response) {
            patchings = response["regions"];
        }
    });
}

get_cracks();
get_regions();
get_patching();
canvas.width = 750;
canvas.height = 1000;

var is_crack_rect = false;
var is_region_rect = false;
var is_region_bbox = false;
var is_severity_point = false;
var is_region_severity_point = false;
var is_patching_bbox = false;
var is_patching_contour = false;
var is_patching_region = false;
var is_patching_segmentation = false;
var alpha = 1;

img_origin.onload = function () {
    var ctx = canvas.getContext('2d');

    trackTransforms(ctx);
    img.push(img_origin);

    function redraw(img) {
        var p1 = ctx.transformedPoint(0, 0);
        var p2 = ctx.transformedPoint(canvas.width, canvas.height);
        ctx.clearRect(p1.x, p1.y, p2.x - p1.x, p2.y - p1.y);

        ctx.save();
        ctx.setTransform(1, 0, 0, 1, 0, 0);
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.restore();

        ctx.globalAlpha = alpha;

        ctx.beginPath();
        ctx.fillRect(0, 0, img_origin.width, img_origin.height);
        ctx.fillStyle = "black";
        ctx.stroke();

        for (var i = 0; i < img.length; i++) {
            ctx.drawImage(img[i], 0, 0);
        }

        if (is_crack_rect == true) {
            for (var i = 0; i < cracks.length; i++) {
                if (cracks[i]['label'] != "normal") {
                    var rect_color, text_color, text;
                    if (cracks[i]['label'] == "crack") { rect_color = colors[0], text_color = colors[0], text = "CR"; }
                    else if (cracks[i]['label'] == "patch") {rect_color = colors[1], text_color = colors[1], text = "PAT"; }
                    else if (cracks[i]['label'] == "lane") { rect_color = colors[2], text_color = colors[2], text = "LANE"; }
                    else if (cracks[i]['label'] == "ac") { rect_color = colors[0], text_color = colors[3], text = "AC"; }
                    else if (cracks[i]['label'] == "lc") { rect_color = colors[0], text_color = colors[4], text = "LC"; }
                    else if (cracks[i]['label'] == "tc") { rect_color = colors[0], text_color = colors[5], text = "TC"; }

                    ctx.font = "90px Arial";
                    ctx.fillStyle = text_color;
                    ctx.textAlign = "center";
                    ctx.fillText(text, cracks[i]['x']+130, cracks[i]['y'] + 170);

                    ctx.beginPath();
                    ctx.lineWidth = "2";
                    ctx.strokeStyle = rect_color;
                    ctx.rect(cracks[i]['x'], cracks[i]['y'], cracks[i]['w'], cracks[i]['h']);
                    ctx.stroke();
                }
            }
        }

        if (is_region_rect == true) {
            for (var i = 0; i < regions.length; i++) {
                if (regions[i]['patchs'].length > 0) {
                    rect_color = region_colors[i];
                    text_color = region_text_colors[i];
                    var text_region_num = regions[i]['region_num'];

                    if (regions[i]['region_type'] == "patch") { text = "PAT"; }
                    else if (regions[i]['region_type'] == "ac") { text = "AC"; }
                    else if (regions[i]['region_type'] == "lc") { text = "LC"; }
                    else if (regions[i]['region_type'] == "tc") { text = "TC"; }
                    var xs = [];
                    var ys = [];
                    for (var j = 0; j < regions[i]['patchs'].length; j++) {
                        var region = regions[i]['patchs'][j];
                        xs.push(region['x']);
                        ys.push(region['y']);
                        ctx.beginPath();
                        ctx.fillStyle = rect_color;
                        ctx.lineWidth = 30;
                        ctx.strokeStyle = rect_color;
                        ctx.rect(region['x'], region['y'], region['w'], region['h']);
                        ctx.stroke();
                    }
                    var min_x = Math.min.apply(null, xs);
                    var min_y = Math.min.apply(null, ys);
                    var max_x = Math.max.apply(null, xs);
                    var max_y = Math.max.apply(null, ys);
                    var center_x = min_x + (max_x - min_x)/2;
                    var center_y = min_y + (max_y - min_y)/2;

                    ctx.font = "300px Arial";
                    ctx.fillStyle = text_color;
                    ctx.textAlign = "center";
                    ctx.fillText(text, center_x + 130, center_y + 130);
                    ctx.fillText("(" + text_region_num + ")", center_x + 130, center_y  + 430);
                }
            }
        }

        if (is_region_bbox == true) {
            for (var i = 0; i < regions.length; i++) {
                if (regions[i]['patchs'].length > 1) {
                    rect_color = region_colors[i];
                    text_color = region_text_colors[i];
                    var text_region_num = regions[i]['region_num'];

                    if (regions[i]['region_type'] == "patch") { text = "PAT"; }
                    else if (regions[i]['region_type'] == "ac") { text = "AC"; }
                    else if (regions[i]['region_type'] == "lc") { text = "LC"; }
                    else if (regions[i]['region_type'] == "tc") { text = "TC"; }
                    var xs = [];
                    var ys = [];
                    for (var j = 0; j < regions[i]['patchs'].length; j++) {
                        var region = regions[i]['patchs'][j];
                        xs.push(region['x']);
                        ys.push(region['y']);
                    }

                    ctx.beginPath();
                    ctx.fillStyle = rect_color;
                    ctx.lineWidth = 30;
                    ctx.strokeStyle = rect_color;
                    ctx.rect(
                        regions[i]['severity_results']['minx'],
                        regions[i]['severity_results']['miny'],
                        regions[i]['severity_results']['maxx'] - regions[i]['severity_results']['minx'],
                        regions[i]['severity_results']['maxy'] - regions[i]['severity_results']['miny']);
                    ctx.stroke();

                    var min_x = Math.min.apply(null, xs);
                    var min_y = Math.min.apply(null, ys);
                    var max_x = Math.max.apply(null, xs);
                    var max_y = Math.max.apply(null, ys);
                    var center_x = min_x + (max_x - min_x)/2;
                    var center_y = min_y + (max_y - min_y)/2;

                    ctx.font = "300px Arial";
                    ctx.fillStyle = text_color;
                    ctx.textAlign = "center";
                    ctx.fillText(text, center_x + 130, center_y + 130);
                    ctx.fillText("(" + text_region_num + ")", center_x + 130, center_y  + 430);
                }
            }
        }

        if (is_severity_point == true) {
            for (var i = 0; i < cracks.length; i++) {
                var label = cracks[i]['label']
                if (label != "lc" || label != "tc" || label != "ac") {
                    var x = cracks[i]['x'];
                    var y = cracks[i]['y'];
                    var max_width_x = cracks[i]['severity']['max_width_x'];
                    var max_width_y = cracks[i]['severity']['max_width_y'];
                    if (max_width_x != 0 && max_width_y != 0) {
                        ctx.beginPath();
                        ctx.arc(x + max_width_x, y + max_width_y, 10, 0, Math.PI * 2, false);
                        ctx.fillStyle = "red";
                        ctx.fill();
                        ctx.closePath();
                    }
                }
            }
        }

        if (is_region_severity_point == true) {
            for (var i = 0; i < regions.length; i++) {
                var label = regions[i]['region_type']
                if (label != "lc" || label != "tc" || label != "ac") {
                    var max_width_x = regions[i]['severity_results']['max_width_x'];
                    var max_width_y = regions[i]['severity_results']['max_width_y'];
                    if (max_width_x != 0 && max_width_y != 0) {
                        ctx.beginPath();
                        ctx.arc(max_width_x, max_width_y, 10, 0, Math.PI * 2, false);
                        ctx.fillStyle = "yellow";
                        ctx.fill();
                        ctx.closePath();
                    }
                }
            }
        }

        if (is_patching_bbox == true) {
            for (var i = 0; i < patchings.length; i++) {
                var bbox_x = patchings[i]['patching_results']['patching_region_minx'] + patchings[i]['patching_results']['patching_bbox_minx'];
                var bbox_y = patchings[i]['patching_results']['patching_region_miny'] + patchings[i]['patching_results']['patching_bbox_miny'];
                var bbox_width = patchings[i]['patching_results']['patching_bbox_maxx'] - patchings[i]['patching_results']['patching_bbox_minx'];
                var bbox_height = patchings[i]['patching_results']['patching_bbox_maxy'] -  patchings[i]['patching_results']['patching_bbox_miny'];

                ctx.beginPath();
                ctx.lineWidth = "20";
                ctx.strokeStyle = colors[1];
                ctx.rect(bbox_x, bbox_y, bbox_width, bbox_height);
                ctx.stroke();
            }
        }

        if (is_patching_region == true) {
            for (var i = 0; i < patchings.length; i++) {
                var region_x = patchings[i]['patching_results']['patching_region_minx'];
                var region_y = patchings[i]['patching_results']['patching_region_miny'];
                var region_width = patchings[i]['patching_results']['patching_region_maxx'] - patchings[i]['patching_results']['patching_region_minx'];
                var region_height = patchings[i]['patching_results']['patching_region_maxy'] -  patchings[i]['patching_results']['patching_region_miny'];

                ctx.beginPath();
                ctx.lineWidth = "20";
                ctx.strokeStyle = "orange";
                ctx.rect(region_x, region_y, region_width, region_height);
                ctx.stroke();
            }
        }

        if (is_patching_contour == true) {
            for (var i = 0; i < patchings.length; i++) {
            }
        }

        if (is_patching_segmentation == true) {
            for (var i = 0; i < patchings.length; i++) {

            }
        }
        ctx.fillStyle = "black";
    }
    redraw(img);

    var lastX = canvas.width / 2,
        lastY = canvas.height / 2;

    var dragStart, dragged;

    canvas.addEventListener('mousedown', function(evt) {
        document.body.style.mozUserSelect = document.body.style.webkitUserSelect = document.body.style.userSelect = 'none';
        lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
        lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
        dragStart = ctx.transformedPoint(lastX, lastY);
        dragged = false;
    }, false);

    canvas.addEventListener('mousemove', function(evt) {
        lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
        lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
        dragged = true;
        if (dragStart) {
            var pt = ctx.transformedPoint(lastX, lastY);
            ctx.translate(pt.x - dragStart.x, pt.y - dragStart.y);
            redraw(img);
        }
    }, false);

    canvas.addEventListener('mouseup', function(evt) {
        dragStart = null;
    }, false);

    var scaleFactor = 1.1;

    var zoom = function(clicks, is_btn) {
        if (is_btn == true) {
            var pt = ctx.transformedPoint(0, 0);
        } else {
            var pt = ctx.transformedPoint(lastX, lastY);
        }
        ctx.translate(pt.x, pt.y);
        var factor = Math.pow(scaleFactor, clicks);
        ctx.scale(factor, factor);
        ctx.translate(-pt.x, -pt.y);
        redraw(img);

    }

    var handleScroll = function(evt) {
        var delta = evt.wheelDelta ? evt.wheelDelta / 40 : evt.detail ? -evt.detail : 0;
        if (delta) zoom(delta, false);
        return evt.preventDefault() && false;
    };

    canvas.addEventListener('DOMMouseScroll', handleScroll, false);
    canvas.addEventListener('mousewheel', handleScroll, false);
    init()
    function init() {
        ctx.scale(1, 1)
        redraw(img)
    }
    $("#chkbox_origin").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#chkbox_origin").property("checked") == true) {
            img.push(img_origin);
            if (d3.select("#radio_seg_no_th").property("checked") == true) {
                img.push(img_seg);
            }
            if (d3.select("#radio_seg_th").property("checked") == true) {
                img.push(img_seg_th);
            }
            if (d3.select("#radio_seg_hl").property("checked") == true) {
                img.push(img_seg_hl);
            }
            if (d3.select("#radio_seg_nothing").property("checked") == true) {
            }
        }
        else {
            if (d3.select("#radio_seg_no_th").property("checked") == true) {
                img.push(img_seg);
            }
            if (d3.select("#radio_seg_th").property("checked") == true) {
                img.push(img_seg_th);
            }
            if (d3.select("#radio_seg_hl").property("checked") == true) {
                img.push(img_seg_hl);
            }
            if (d3.select("#radio_seg_nothing").property("checked") == true) {
            }
        }
        redraw(img)
    });
    $("#radio_seg_no_th").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#radio_seg_no_th").property("checked") == true) {
            if (d3.select("#chkbox_origin").property("checked") == true) {
                img.push(img_origin);
                img.push(img_seg);
            }
            else {
                img.push(img_seg);
            }
        }
        redraw(img)
    });
    $("#radio_seg_th").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#radio_seg_th").property("checked") == true) {
            if (d3.select("#chkbox_origin").property("checked") == true) {
                img.push(img_origin);
                img.push(img_seg_th);
            }
            else {
                img.splice(0, img.length)
                img.push(img_seg_th);
            }
        }
        redraw(img)
    });
    $("#radio_seg_hl").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#radio_seg_hl").property("checked") == true) {
            if (d3.select("#chkbox_origin").property("checked") == true) {
                img.push(img_origin);
                img.push(img_seg_hl);
            }
            else {
                img.splice(0, img.length)
                img.push(img_seg_hl);
            }
        }
        redraw(img)
    });
    $("#radio_seg_nothing").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#radio_seg_nothing").property("checked") == true) {
            if (d3.select("#chkbox_origin").property("checked") == true) {
                img.push(img_origin);
            }
            else {
                img.splice(0, img.length)
            }
        }
        redraw(img)
    });
    $("#chkbox_cls").click(function(e) {
        if (d3.select("#chkbox_cls").property("checked") == true) {
            is_crack_rect = true;
        } else {
            is_crack_rect = false;
        }
        redraw(img)
    });
    $("#chkbox_region").click(function(e) {
        if (d3.select("#chkbox_region").property("checked") == true) {
            is_region_rect = true;
        } else {
            is_region_rect = false;
        }
        redraw(img)
    });
    $("#chkbox_region_bbox").click(function(e) {
        if (d3.select("#chkbox_region_bbox").property("checked") == true) {
            is_region_bbox = true;
        } else {
            is_region_bbox = false;
        }
        redraw(img)
    });

    $("#chkbox_severity_point").click(function(e) {
        if (d3.select("#chkbox_severity_point").property("checked") == true) {
            is_severity_point = true;
        } else {
            is_severity_point = false;
        }
        redraw(img)
    });

    $("#chkbox_region_severity_point").click(function(e) {
        if (d3.select("#chkbox_region_severity_point").property("checked") == true) {
            is_region_severity_point = true;
        } else {
            is_region_severity_point = false;
        }
        redraw(img)
    });

    $("#chkbox_patching_bbox").click(function(e) {
        if (d3.select("#chkbox_patching_bbox").property("checked") == true) {
            is_patching_bbox = true;
        } else {
            is_patching_bbox = false;
        }
        redraw(img)
    });

    $("#chkbox_patching_region").click(function(e) {
        if (d3.select("#chkbox_patching_region").property("checked") == true) {
            is_patching_region = true;
        } else {
            is_patching_region = false;
        }
        redraw(img)
    });

    $("#chkbox_patching_contour").click(function(e) {
        if (d3.select("#chkbox_patching_contour").property("checked") == true) {
            is_patching_contour = true;
        } else {
            is_patching_contour = false;
        }
        redraw(img)
    });
    $("#chkbox_patching_seg").click(function(e) {
        if (d3.select("#chkbox_patching_seg").property("checked") == true) {
            is_patching_segmentation = true;
        } else {
            is_patching_segmentation = false;
        }
        redraw(img)
    });
};
img_origin.src = "/media/{{image.image}}";

// if ("{{is_gt}}" == "False") {
//     d3.select("#chkbox_cls_gt").property("disabled", true)
//     d3.select("#chkbox_seg_gt").property("disabled", true)
//     d3.select("#chkbox_region_gt").property("disabled", true)
// } else {
//     img_seg_gt.src = "/media/{{gt_result}}";
// }
if ("{{is_analyzed}}" == "False") {
    d3.select("#radio_seg_no_th").property("disabled", true)
    d3.select("#radio_seg_th").property("disabled", true)
    d3.select("#radio_seg_hl").property("disabled", true)
    d3.select("#chkbox_cls").property("disabled", true)
    d3.select("#chkbox_region").property("disabled", true)
    d3.select("#chkbox_region_bbox").property("disabled", true)
    d3.select("#chkbox_severity_point").property("disabled", true)
    d3.select("#chkbox_region_severity_point").property("disabled", true)
    d3.select("#chkbox_patching_bbox").property("disabled", true)
    d3.select("#chkbox_patching_contour").property("disabled", true)
    d3.select("#chkbox_patching_seg").property("disabled", true)
}
else {
    img_seg.src = "/media/{{seg_result}}";
    img_seg_th.src = "/media/{{seg_th_result}}";
    img_seg_hl.src = "/media/{{seg_hl_result}}";
}

console.log("{{seg_result}}")
console.log("{{seg_th_result}}")
console.log("{{seg_hl_result}}")
console.log("{{seg_hl_th_result}}")
$("#btn_analysis").click(function(e) {
    var $this = $(this);
    var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> 분석 중';
    if ($(this).html() !== loadingText) {
        $this.data('original-text', $(this).html());
        $this.html(loadingText);
        var select_region_connectivity = document.getElementById("select_region_connectivity");
        var select_region_noise_filter = document.getElementById("select_region_noise_filter");

        var region_connectivity = select_region_connectivity.options[select_region_connectivity.selectedIndex].value;
        var region_noise_filter = select_region_noise_filter.options[select_region_noise_filter.selectedIndex].value;
        var severity_threshold =  document.getElementById("severity_threshold").value;

        $.ajax({
            url: "{% url 'analysis' %}",
            type: "POST",
            data: {
                name: 'analysis',
                image_pk: '{{ image_pk }}',
                region_connectivity: region_connectivity,
                region_noise_filter: region_noise_filter,
                severity_threshold: severity_threshold,
            },
            success: function (response) {
                get_cracks();
                get_regions();

                    d3.select("#radio_seg_no_th").property("disabled", false)
                    d3.select("#radio_seg_th").property("disabled", false)
                    d3.select("#radio_seg_hl").property("disabled", false)
                    d3.select("#chkbox_cls").property("disabled", false)
                    d3.select("#chkbox_region").property("disabled", false)
                    d3.select("#chkbox_region_bbox").property("disabled", false)
                    d3.select("#chkbox_severity_point").property("disabled", false)
                    d3.select("#chkbox_region_severity_point").property("disabled", false)
                    d3.select("#chkbox_patching_bbox").property("disabled", false)
                    d3.select("#chkbox_patching_contour").property("disabled", false)
                    d3.select("#chkbox_patching_seg").property("disabled", false)
                $this.html($this.data('original-text'));
            }
        });
    }
});

</script>
<link rel="stylesheet" type="text/css" href="{% static "css/imagedetail.css" %}">
<script type="text/javascript" src="{% static "canvas/trackTransforms.js" %}"></script>
<script type="text/javascript" src="{% static "canvas/strPreprocessing.js" %}"></script>

{% endblock jquery %}

{% block footer %}
    <span class="text-muted">Footer From Front Page.</span>
{% endblock footer %}
