{% extends 'base.html'%}

{% load staticfiles %}
{% load base_tags %}

{% block head %}

{% endblock head %}

{%  block nav %}
    {% nav_bar %}
{%  endblock nav %}

{% block content %}

<br>
<div class="wrapper" style="padding-left: 30px; padding-right: 30px">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ image.image }}</h2>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5.5">
            <canvas id="canvas" class="absolute" style="border:2px solid gray;"></canvas>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <div class="row ">
                            <div class="col-lg-7 align-self-end">
                                <h5 class="title"> 분석 옵션 </h5>
                            </div>
                            <div class="col-lg-5 align-self-center">
                                <button type="button" class="btn btn-primary" id="btn_analysis">분석 시작</button>
                            </div>
                        </div>
                    </header>
                    <div class="card-body">
                        <label><h6>균열 여부 결정 임계값</h6></label>
                        <div class="range-slider">
                            <input class="input-range" id="severity_threshold" type="range" value="239" min="0" max="255" style="width: calc(100% - 75px)">
                            <span class="range-value"></span>
                        </div>
                        <br>
                        <label><h6>Region 결합 방법</h6></label>
                        <!--option selector-->
                        <select class="form-control" id="select_region_connectivity">
                            <option value="0" selected>Connectivity - 4</option>
                            <option value="1">Connectivity - 8</option>
                        </select>
                        <br>
                        <label><h6>Region Noise Filter Option</h6></label>
                        <!--option selector-->
                        <select class="form-control" id="select_region_noise_filter">
                            <option value="0" selected>없음</option>
                            <option value="1">구멍 채우기</option>
                            <option value="2">모서리 자르기</option>
                            <option value="3">모서리 자르기 및 구멍 채우기</option>
                        </select>
                        <br>
                        <label for="region_threshold" class="form-label"><h6>Region Threshold</h6></label>
                        <input class="form-control" type="number" value="3" id="region_threshold">
                    </div>
                </article>
            </div>
            <br>
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <div class="row ">
                            <div class="col-lg-9 align-self-end">
                                <h5 class="title"> 보기 옵션 </h5>
                            </div>
                        </div>
                    </header>
                    <div class="card-body">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkbox_origin">
                            <label class="custom-control-label" for="chkbox_origin"> <h8>도로 이미지</h8> </label>
                        </div>
                    </div>
                </article>
                <div class="card-group-item">
                    <article class="card-group">
                        <div class="card">
                            <header class="card-header"><h6 class="title"> 분석 결과 </h6></header>
                            <div class="card-body">
                                <label><h6><strong>균열 이미지</strong></h6></label>
                                <div style="padding-left: 20px">
                                    <div class="custom-control custom-radio">
                                      <input type="radio" class="custom-control-input" id="radio_seg_no_th" name="group_of_seg_image">
                                      <label class="custom-control-label" for="radio_seg_no_th"><h7>확률 값으로 보기</h7></label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                      <input type="radio" class="custom-control-input" id="radio_seg_th" name="group_of_seg_image">
                                      <label class="custom-control-label" for="radio_seg_th">균열 임계값 이상만 보기</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                      <input type="radio" class="custom-control-input" id="radio_seg_hl" name="group_of_seg_image">
                                      <label class="custom-control-label" for="radio_seg_hl">영역별 따로 보기</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                      <input type="radio" class="custom-control-input" id="radio_seg_nothing" name="group_of_seg_image" checked>
                                      <label class="custom-control-label" for="radio_seg_nothing">표시하지 않음</label>
                                    </div>
                                </div>
                                <br>

                                <div>
                                    <label><h6><strong>Patch 단위 분석 결과</strong></h6></label>
                                    <span class="badge badge-primary badge-pill" id="badge_cls" style="float:right"></span>
                                </div>
                                <div style="padding-left: 20px">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox_cls">
                                        <label class="custom-control-label" for="chkbox_cls"> <h7>균열 종류(TC/LC/AC/PAT) 보기</h7> </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox_severity_point">
                                        <label class="custom-control-label" for="chkbox_severity_point" > <h7>균열이 가장 넓은 곳 보기</h7> </label>
                                        <span class="badge badge-primary badge-pill" id="badge_severity_point"  style="float:right"></span>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <label><h6><strong>영역 단위 분석 결과</strong></h6></label>
                                    <span class="badge badge-primary badge-pill" id="badge_region"  style="float:right"></span>
                                </div>
                                <label style="padding-left: 20px"><li><h8>영역 보기 방법</h8></li></label>
                                <div style="padding-left: 60px; padding-bottom: 10px">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="radio_region_bbox" name="group_of_region">
                                        <label class="custom-control-label" for="radio_region_bbox" > <h7>Bounding Box로 보기</h7> </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="radio_region" name="group_of_region" >
                                        <label class="custom-control-label" for="radio_region" > <h7>Patch 단위로 보기</h7> </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="radio_region_nothing" name="group_of_region" checked>
                                        <label class="custom-control-label" for="radio_region_nothing" > <h7>표시하지 않음</h7> </label>
                                    </div>
                                </div>
                                <div style="padding-left: 20px">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox_region">
                                        <label class="custom-control-label" for="chkbox_region" > <h7>균열 종류(TC/LC/AC/PAT) 보기</h7> </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox_region_severity_point">
                                        <label class="custom-control-label" for="chkbox_region_severity_point" > <h7>균열이 가장 넓은곳 보기</h7> </label>
                                        <span class="badge badge-primary badge-pill" id="badge_region_severity_point"  style="float:right"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <br>
            <!--<div class="text-center" id="apply_wrapper">-->
                <!--<button type="button" id="btn_apply" class="btn btn-outline-primary">적용</button>-->
            <!--</div>-->
        </div>
        <div class="col-lg-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input region_chkbox" id="region_chkbox_all">
                                <label class="custom-control-label" for="region_chkbox_all"> 영역 </label>
                            </div>
                        </th>
                        <th> 균열종류 </th>
                        <th> 길이(m) </th>
                        <th> 면적(m²) </th>
                        <th> 최대<br/>균열양(mm) </th>
                        <th> 심각도 </th>
                    </tr>
                </thead>
                <tbody id="table_severity">

                </tbody>
            </table>
        </div>
    </div>
    <br>


</div>
{% endblock content %}

{% block jquery %}
<script>
var range = $('.input-range'),
    value = $('.range-value');

value.html(range.attr('value'));

range.on('input', function(){
    value.html(this.value);
});
d3.select('#chkbox_origin').property('checked', true);

var img = [];
var img_seg = new Image();
var img_seg_th = new Image();
var img_seg_hl = new Image();
var img_seg_gt = new Image();
var img_origin = new Image();

var is_crack_rect = false;
var is_region_rect = false;
var is_region_name = false;
var is_region_bbox = false;
var is_severity_point = false;
var is_region_severity_point = false;
var is_region_chkboxes = []

var canvas = document.getElementById('canvas');

var colors = [
    "rgb(255, 0, 0)",
    "rgb(29, 219, 22)", "rgb(0, 84, 255)", "rgb(255, 228, 0)", "rgb(255, 187, 0)",
    "rgb(255, 0, 127)", "rgb(95, 0, 255)"
]

var cracks;
var regions;
var patchings;
var region_colors = []
var region_text_colors = []

function get_cracks() {
    $.ajax({
        url: "{% url 'get_cracks' %}",
        type: "POST",
        data: {
            name: 'get_cracks',
            image_pk: '{{ image_pk }}',
        },
        success: function (response) {
            cracks = response['cracks']
            d3.select("#badge_cls").text(cracks.length)
        }
    });
}

function get_regions() {
    $.ajax({
        url: "{% url 'get_regions' %}",
        type: "POST",
        data: {
            name: 'get_regions',
            image_pk: '{{ image_pk }}',
        },
        success: function (response) {
            regions = response['regions']
            d3.select("#badge_region").text(regions.length)
            d3.select("#badge_region_bbox").text(regions.length)
            for (var i = 0; i < regions.length; i++) {
                var r = (Math.floor(Math.random() * 256));
                var g = (Math.floor(Math.random() * 256));
                var b = (Math.floor(Math.random() * 256));
                var rev_r = 255 - r;
                var rev_g = 255 - g;
                var rev_b = 255 - b;
                region_colors.push('rgb(' + r + ',' + g + ',' + b + ')');
                region_text_colors.push('rgb(' + rev_r + ',' + rev_g + ',' + rev_b + ')');
                if (i == 0) {
                    is_region_chkboxes.push(true)
                } else {
                    is_region_chkboxes.push(false)
                }
            }
            var table_severity = d3.select("#table_severity");
            for (var i = 0; i < regions.length; i++) {
                if (regions[i]['region_type'] == "patch") { text = "PAT"; }
                else if (regions[i]['region_type'] == "ac") { text = "AC"; }
                else if (regions[i]['region_type'] == "lc") { text = "LC"; }
                else if (regions[i]['region_type'] == "tc") { text = "TC"; }

                var tr = table_severity.append("tr").attr("id", "table_row_" + String(i));
                var check_td = tr.append("td").attr("class", "region_check").append("div").attr("class", "custom-control custom-checkbox")
                if (i == 0 ) {
                    check_td.append("input").attr("type", "checkbox").attr("class", "custom-control-input region_chkbox").attr("id", "region_chkbox_" + String(i)).property("checked", "true")
                } else {
                    check_td.append("input").attr("type", "checkbox").attr("class", "custom-control-input region_chkbox").attr("id", "region_chkbox_" + String(i))
                }
                check_td.append("label").attr("class", "custom-control-label").attr("for", "region_chkbox_" + String(i)).text(String(i))
                tr.append("td").attr("class", "region_type").text(text);

                var maxx = regions[i]['severity_results']['maxx'];
                var maxy = regions[i]['severity_results']['maxy'];
                var minx = regions[i]['severity_results']['minx'];
                var miny = regions[i]['severity_results']['miny'];
                var total_average_width = regions[i]['severity_results']['total_average_width'];
                var total_max_width = regions[i]['severity_results']['total_max_width'];
                var max_width_x = regions[i]['severity_results']['max_width_x'];
                var max_width_y = regions[i]['severity_results']['max_width_y'];
                var severity = capitalizeFirstLetter(String(regions[i]['severity_results']['severity']));


                var width = maxx - minx;
                var height = maxy - miny;
                if (text == "PAT") {
                    var area = (regions[i]['patching_results']['area']/1000000).toFixed(2)
                    var area_upper = comma(parseInt(String(area).split(".")[0]));
                    var floor = String(area).split(".")[1];

                    tr.append("td").attr("class", "severity_height").text("-");
                    tr.append("td").attr("class", "crack_area").text(area_upper + "." + floor);
                    tr.append("td").attr("class", "severity_area").text("-");
                    tr.append("td").attr("class", "severity_severity").text("-");
                }
                else if (text == "LC" || text == "TC") {
                    var length = 0;
                    if (text == "LC")
                        length = (height/1000).toFixed(3);
                    else if (text == "TC")
                        length = (width/1000).toFixed(3);
                    tr.append("td").attr("class", "crack_width").text(length);
                    tr.append("td").attr("class", "crack_area").text("-");
                    tr.append("td").attr("class", "crack_area").text(total_max_width.toFixed(0));
                    tr.append("td").attr("class", "crack_severity").text(severity);
                }
                else {
                    var severity_results = regions[i]['severity_results']

                    var area = ((severity_results['maxx'] - severity_results['minx']) * (severity_results['maxy'] - severity_results['miny'])/1000000).toFixed(2)
                    var area_upper = comma(parseInt(String(area).split(".")[0]));
                    var floor = String(area).split(".")[1];

                    tr.append("td").attr("class", "severity_height").text("-");
                    tr.append("td").attr("class", "crack_area").text(area_upper + "." + floor);
                    tr.append("td").attr("class", "crack_area").text(total_max_width.toFixed(0));
                    tr.append("td").attr("class", "severity_severity").text(severity);
                }

            }

            $('.region_chkbox').click(function (e) {
                var id = e['target']['id'];
                var index = parseInt(id.split("chkbox_")[1]);
                if(d3.select("#" + id).property("checked") == true) {
                    is_region_chkboxes.splice(index, 1, true);
                } else if (d3.select("#" + id).property("checked") == false) {
                    is_region_chkboxes.splice(index, 1, false);
                }
                redraw(img)
            })
            var canvas = document.getElementById('canvas');
            ctx = canvas.getContext('2d');

            canvas.addEventListener('mousemove', function(evt) {
                lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
                lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
                var pt = ctx.transformedPoint(lastX, lastY);
                var range_p = 50;

                if (is_severity_point) {
                    for (var i = 0; i < cracks.length; i++) {
                        var label = cracks[i]['label'];
                        if (label == "lc" ||label == "tc" || label == "ac" ) {
                            var x = parseInt(cracks[i]['x']) + parseInt(cracks[i]['severity']['max_width_x']);
                            var y = parseInt(cracks[i]['y']) + parseInt(cracks[i]['severity']['max_width_y']);
                            var pt_x = parseInt(pt.x);
                            var pt_y = parseInt(pt.y);
                            var range_x = (pt_x < x + range_p * g_factor && pt_x > x - range_p * g_factor);
                            var range_y = (pt_y < y + range_p * g_factor && pt_y > y - range_p * g_factor);
                            var total_max_width = cracks[i]['severity']['total_max_width'];
                            if (range_x && range_y) {
                                var h = [];
                                h.push("패치 균열 최대 지점");
                                h.push("균열 최대 지점: (" + String(x) + ", " + String(y) + ")");
                                h.push("균열 양: " + String(total_max_width));

                                ctx.fillStyle = "white";
                                ctx.fillRect(pt.x, pt.y, 650, 210);
                                ctx.strokeStyle = "black";
                                ctx.lineWidth = "10";
                                ctx.strokeRect(pt.x, pt.y, 650, 210);

                                for (var j = 0; j < h.length; j++) {
                                    ctx.font = "50px Arial";
                                    ctx.fillStyle = "black";
                                    ctx.textAlign = "left";
                                    ctx.fillText(h[j], pt.x + 20, pt.y + (j + 1) * 60);
                                }
                            }
                        }
                    }
                }

                if (is_region_severity_point) {
                    for (var i = 0; i < regions.length; i++) {
                        if (is_region_chkboxes[i] && regions[i]['region_type'] != 'patch') {
                            var x = parseInt(regions[i]['severity_results']['max_width_x']);
                            var y = parseInt(regions[i]['severity_results']['max_width_y']);
                            var severity = regions[i]['severity_results']['severity'];
                            var pt_x = parseInt(pt.x);
                            var pt_y = parseInt(pt.y);
                            var range_x = (pt_x < x + range_p * g_factor && pt_x > x - range_p * g_factor);
                            var range_y = (pt_y < y + range_p * g_factor && pt_y > y - range_p * g_factor);
                            var total_max_width = regions[i]['severity_results']['total_max_width'];
                            if (range_x && range_y) {
                                var h = [];
                                h.push("영역 균열 최대 지점");
                                h.push("균열 최대 지점: (" + String(x) + ", " + String(y) + ")");
                                h.push("균열 양: " + String(total_max_width));
                                h.push("심각도: " + String(severity));

                                ctx.fillStyle = "white";
                                ctx.fillRect(pt.x, pt.y, 650, 270);
                                ctx.strokeStyle = "black";
                                ctx.lineWidth = "10";
                                ctx.strokeRect(pt.x, pt.y, 650, 270);

                                for (var j = 0; j < h.length; j++) {
                                    ctx.font = "50px Arial";
                                    ctx.fillStyle = "black";
                                    ctx.textAlign = "left";
                                    ctx.fillText(h[j], pt.x + 20, pt.y + (j + 1) * 60);
                                }
                            }
                        }
                    }
                }
            }, false);
        }
    });
}
function get_seg_images() {
    $.ajax({
        url: "{% url 'get_seg_images' %}",
        type: "POST",
        data: {
            name: 'get_seg_images',
            image_pk: '{{ image_pk }}',
        },
        success: function (response) {
            img_seg.src = response['seg_result'];
            img_seg_th.src = response['seg_th_result'];
            img_seg_hl.src = response['seg_hl_result'];
        }
    });
}

function get_patching() {
    $.ajax({
        url: "{% url 'get_patching' %}",
        type: "POST",
        data: {
            name: 'get_patching',
            image_pk: '{{ image_pk }}',
        },
        success: function (response) {
            patchings = response['regions']
        }
    });
}


canvas.width = 750;
canvas.height = 1000;

var hotspots=[
  {x:100,y:100,radius:20,tip:'You are over 100,100'},
  {x:100,y:200,radius:20,tip:'You are over 100,200'},
];

var ctx;
var g_factor = 1;
img_origin.onload = function () {
    ctx = canvas.getContext('2d');
    trackTransforms(ctx);
    img.push(img_origin);

    redraw(img);
    get_patching();
    get_cracks();
    get_regions();
    get_seg_images();
    var lastX = canvas.width / 2,
        lastY = canvas.height / 2;

    var dragStart, dragged, drawtooltip;

    canvas.addEventListener('mousedown', function(evt) {
        document.body.style.mozUserSelect = document.body.style.webkitUserSelect = document.body.style.userSelect = 'none';
        lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
        lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
        dragStart = ctx.transformedPoint(lastX, lastY);
        dragged = false;
    }, false);

    canvas.addEventListener('mousemove', function(evt) {
        lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
        lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
        dragged = true;
        var pt = ctx.transformedPoint(lastX, lastY);
        if (dragStart) {
            ctx.translate(pt.x - dragStart.x, pt.y - dragStart.y);
            redraw(img);
        }
        if (is_region_severity_point) {
            redraw(img);
        }
        if (is_severity_point) {
            redraw(img);
        }
    }, false);


    canvas.addEventListener('mouseup', function(evt) {
        dragStart = null;
    }, false);

    var scaleFactor = 1.1;

    var zoom = function(clicks) {
        var pt = ctx.transformedPoint(lastX, lastY);
        ctx.translate(pt.x, pt.y);
        var factor = Math.pow(scaleFactor, clicks);
        ctx.scale(factor, factor);
        ctx.translate(-pt.x, -pt.y);
        redraw(img);
        g_factor *= factor;
    }

    var handleScroll = function(evt) {
        var delta = evt.wheelDelta ? evt.wheelDelta / 40 : evt.detail ? -evt.detail : 0;
        if (delta) zoom(delta, false);
        return evt.preventDefault() && false;
    };

    canvas.addEventListener('DOMMouseScroll', handleScroll, false);
    canvas.addEventListener('mousewheel', handleScroll, false);
    init()
    function init() {
        ctx.scale(1, 1)
        redraw(img)
    }
    $("#chkbox_origin").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#chkbox_origin").property("checked") == true) {
            img.push(img_origin);
            if (d3.select("#radio_seg_no_th").property("checked") == true) {
                img.push(img_seg);
            }
            if (d3.select("#radio_seg_th").property("checked") == true) {
                img.push(img_seg_th);
            }
            if (d3.select("#radio_seg_hl").property("checked") == true) {
                img.push(img_seg_hl);
            }
            if (d3.select("#radio_seg_nothing").property("checked") == true) {
            }
        }
        else {
            if (d3.select("#radio_seg_no_th").property("checked") == true) {
                img.push(img_seg);
            }
            if (d3.select("#radio_seg_th").property("checked") == true) {
                img.push(img_seg_th);
            }
            if (d3.select("#radio_seg_hl").property("checked") == true) {
                img.push(img_seg_hl);
            }
            if (d3.select("#radio_seg_nothing").property("checked") == true) {
            }
        }
        redraw(img)
    });
    $("#radio_seg_no_th").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#radio_seg_no_th").property("checked") == true) {
            if (d3.select("#chkbox_origin").property("checked") == true) {
                img.push(img_origin);
                img.push(img_seg);
            }
            else {
                img.push(img_seg);
            }
        }
        redraw(img)
    });
    $("#radio_seg_th").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#radio_seg_th").property("checked") == true) {
            if (d3.select("#chkbox_origin").property("checked") == true) {
                img.push(img_origin);
                img.push(img_seg_th);
            }
            else {
                img.splice(0, img.length)
                img.push(img_seg_th);
            }
        }
        redraw(img)
    });
    $("#radio_seg_hl").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#radio_seg_hl").property("checked") == true) {
            if (d3.select("#chkbox_origin").property("checked") == true) {
                img.push(img_origin);
                img.push(img_seg_hl);
            }
            else {
                img.splice(0, img.length)
                img.push(img_seg_hl);
            }
        }
        redraw(img)
    });
    $("#radio_seg_nothing").click(function(e) {
        img.splice(0, img.length)
        if (d3.select("#radio_seg_nothing").property("checked") == true) {
            if (d3.select("#chkbox_origin").property("checked") == true) {
                img.push(img_origin);
            }
            else {
                img.splice(0, img.length)
            }
        }
        redraw(img)
    });
    $("#chkbox_cls").click(function(e) {
        if (d3.select("#chkbox_cls").property("checked") == true) {
            is_crack_rect = true;
        } else {
            is_crack_rect = false;
        }
        redraw(img)
    });
    $("#chkbox_region").click(function(e) {
        if (d3.select("#chkbox_region").property("checked") == true) {
            is_region_name = true;
        } else {
            is_region_name = false;
        }
        redraw(img)
    });
    $("#radio_region_bbox").click(function(e) {
        if (d3.select("#radio_region_bbox").property("checked") == true) {
            is_region_bbox = true;
            is_region_rect = false;
        } else {
            is_region_bbox = false;
        }
        redraw(img)
    });
    $("#radio_region").click(function(e) {
        if (d3.select("#radio_region").property("checked") == true) {
            is_region_rect = true;
            is_region_bbox = false;
        } else {
            is_region_rect = false;
        }
        redraw(img)
    });
    $("#radio_region_nothing").click(function(e) {
        if (d3.select("#radio_region_nothing").property("checked") == true) {
            is_region_bbox = false;
            is_region_rect = false;
        }
        redraw(img)
    });

    $("#chkbox_severity_point").click(function(e) {
        if (d3.select("#chkbox_severity_point").property("checked") == true) {
            is_severity_point = true;
        } else {
            is_severity_point = false;
        }
        redraw(img)
    });

    $("#chkbox_region_severity_point").click(function(e) {
        if (d3.select("#chkbox_region_severity_point").property("checked") == true) {
            is_region_severity_point = true;
        } else {
            is_region_severity_point = false;
        }
        redraw(img)
    });
};
img_origin.src = "/media/{{image.image}}";


function redraw(img) {
    var p1 = ctx.transformedPoint(0, 0);
    var p2 = ctx.transformedPoint(canvas.width, canvas.height);
    ctx.clearRect(p1.x, p1.y, p2.x - p1.x, p2.y - p1.y);

    ctx.save();
    ctx.setTransform(1, 0, 0, 1, 0, 0);
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.restore();


    ctx.beginPath();
    ctx.fillRect(0, 0, img_origin.width, img_origin.height);
    ctx.fillStyle = "black";
    ctx.stroke();


    for (var i = 0; i < img.length; i++) {
        ctx.drawImage(img[i], 0, 0);
    }

    if (is_crack_rect == true) {
        for (var i = 0; i < cracks.length; i++) {
            if (cracks[i]['label'] != "normal") {
                var rect_color, text_color, text;
                if (cracks[i]['label'] == "crack") { rect_color = colors[0], text_color = colors[0], text = "CR"; }
                else if (cracks[i]['label'] == "patch") {rect_color = colors[1], text_color = colors[1], text = "PAT"; }
                else if (cracks[i]['label'] == "line") { rect_color = colors[2], text_color = colors[2], text = "LINE"; }
                else if (cracks[i]['label'] == "pothole") { rect_color = colors[6], text_color = colors[6], text = "POT"; }
                else if (cracks[i]['label'] == "ac") { rect_color = colors[0], text_color = colors[3], text = "AC"; }
                else if (cracks[i]['label'] == "lc") { rect_color = colors[0], text_color = colors[4], text = "LC"; }
                else if (cracks[i]['label'] == "tc") { rect_color = colors[0], text_color = colors[5], text = "TC"; }

                ctx.font = "90px Arial";
                ctx.fillStyle = text_color;
                ctx.textAlign = "center";
                ctx.fillText(text, cracks[i]['x']+130, cracks[i]['y'] + 170);

                ctx.beginPath();
                ctx.lineWidth = "2";
                ctx.strokeStyle = rect_color;
                ctx.rect(cracks[i]['x'], cracks[i]['y'], cracks[i]['w'], cracks[i]['h']);
                ctx.stroke();
            }
        }
    }

    if (is_region_rect == true) {
        for (var i = 0; i < regions.length; i++) {
            if (regions[i]['patchs'].length > 0 && is_region_chkboxes[i] == true) {
                rect_color = region_colors[i];
                text_color = region_text_colors[i];
                var text_region_num = regions[i]['region_num'];

                var xs = [];
                var ys = [];
                for (var j = 0; j < regions[i]['patchs'].length; j++) {
                    var region = regions[i]['patchs'][j];
                    ctx.beginPath();
                    ctx.fillStyle = rect_color;
                    ctx.lineWidth = 30;
                    ctx.strokeStyle = rect_color;
                    ctx.rect(region['x'], region['y'], region['w'], region['h']);
                    ctx.stroke();
                }
            }
        }
    }

    if (is_region_name == true) {
        for (var i = 0; i < regions.length; i++) {
            if (regions[i]['patchs'].length > 0 && is_region_chkboxes[i] == true) {
                rect_color = region_colors[i];
                text_color = region_text_colors[i];
                var text_region_num = regions[i]['region_num'];

                if (regions[i]['region_type'] == "patch") { text = "PAT"; }
                else if (regions[i]['region_type'] == "ac") { text = "AC"; }
                else if (regions[i]['region_type'] == "lc") { text = "LC"; }
                else if (regions[i]['region_type'] == "tc") { text = "TC"; }
                var xs = [];
                var ys = [];
                for (var j = 0; j < regions[i]['patchs'].length; j++) {
                    var region = regions[i]['patchs'][j];
                    xs.push(region['x']);
                    ys.push(region['y']);
                }
                var min_x = Math.min.apply(null, xs);
                var min_y = Math.min.apply(null, ys);
                var max_x = Math.max.apply(null, xs);
                var max_y = Math.max.apply(null, ys);
                var center_x = min_x + (max_x - min_x)/2;
                var center_y = min_y + (max_y - min_y)/2;

                ctx.font = "300px Arial";
                ctx.fillStyle = text_color;
                ctx.textAlign = "center";
                ctx.fillText(text, center_x + 130, center_y + 130);
                ctx.fillText("(" + text_region_num + ")", center_x + 130, center_y  + 430);
            }
        }
    }


    if (is_region_bbox == true) {
        for (var i = 0; i < regions.length; i++) {
            if (regions[i]['patchs'].length > 1 && is_region_chkboxes[i] == true) {
                rect_color = region_colors[i];
                text_color = region_text_colors[i];
                var text_region_num = regions[i]['region_num'];

                if (regions[i]['region_type'] == "patch") { text = "PAT"; }
                else if (regions[i]['region_type'] == "ac") { text = "AC"; }
                else if (regions[i]['region_type'] == "lc") { text = "LC"; }
                else if (regions[i]['region_type'] == "tc") { text = "TC"; }

                ctx.beginPath();
                ctx.fillStyle = rect_color;
                ctx.lineWidth = 30;
                ctx.strokeStyle = rect_color;
                ctx.rect(
                    regions[i]['severity_results']['minx'],
                    regions[i]['severity_results']['miny'],
                    regions[i]['severity_results']['maxx'] - regions[i]['severity_results']['minx'],
                    regions[i]['severity_results']['maxy'] - regions[i]['severity_results']['miny']);
                ctx.stroke();
            }
        }
        for (var i = 0; i < patchings.length; i++) {
            var bbox_x = patchings[i]['patching_results']['patching_bbox_minx'];
            var bbox_y = patchings[i]['patching_results']['patching_bbox_miny'];
            var bbox_width = patchings[i]['patching_results']['patching_bbox_maxx'] - patchings[i]['patching_results']['patching_bbox_minx'];
            var bbox_height = patchings[i]['patching_results']['patching_bbox_maxy'] -  patchings[i]['patching_results']['patching_bbox_miny'];

            ctx.beginPath();
            ctx.lineWidth = "20";
            ctx.strokeStyle = colors[1];
            ctx.rect(bbox_x, bbox_y, bbox_width, bbox_height);
            ctx.stroke();
        }
    }

    if (is_severity_point == true) {
        for (var i = 0; i < cracks.length; i++) {
            var label = cracks[i]['label']
            if (label != "lc" || label != "tc" || label != "ac") {
                var x = cracks[i]['x'];
                var y = cracks[i]['y'];
                var max_width_x = cracks[i]['severity']['max_width_x'];
                var max_width_y = cracks[i]['severity']['max_width_y'];
                if (max_width_x != 0 && max_width_y != 0) {
                    ctx.beginPath();
                    ctx.arc(x + max_width_x, y + max_width_y, 10, 0, Math.PI * 2, false);
                    ctx.fillStyle = "red";
                    ctx.fill();
                    ctx.closePath();
                }
            }
        }
    }

    if (is_region_severity_point == true) {
        for (var i = 0; i < regions.length; i++) {
            if (is_region_chkboxes[i] == true) {
                var label = regions[i]['region_type']
                if (label != "lc" || label != "tc" || label != "ac") {
                    var max_width_x = regions[i]['severity_results']['max_width_x'];
                    var max_width_y = regions[i]['severity_results']['max_width_y'];
                    if (max_width_x != 0 && max_width_y != 0) {
                        ctx.beginPath();
                        ctx.arc(max_width_x, max_width_y, 10, 0, Math.PI * 2, false);
                        ctx.fillStyle = "yellow";
                        ctx.fill();
                        ctx.closePath();
                    }
                }
            }
        }
    }
    ctx.fillStyle = "black";
}

if ("{{is_analyzed}}" == "False") {
    d3.select("#radio_seg_no_th").property("disabled", true);
    d3.select("#radio_seg_th").property("disabled", true);
    d3.select("#radio_seg_hl").property("disabled", true);
    d3.select("#chkbox_cls").property("disabled", true);
    d3.select("#chkbox_region").property("disabled", true);
    d3.select("#radio_region_bbox").property("disabled", true);
    d3.select("#radio_region").property("disabled", false);
    d3.select("#chkbox_severity_point").property("disabled", true);
    d3.select("#chkbox_region_severity_point").property("disabled", true);
    d3.select("#chkbox_patching_bbox").property("disabled", true);
    d3.select("#chkbox_patching_contour").property("disabled", true);
    d3.select("#chkbox_patching_seg").property("disabled", true);
}
else {
    img_seg.src = "/media/{{seg_result}}";
    img_seg_th.src = "/media/{{seg_th_result}}";
    img_seg_hl.src = "/media/{{seg_hl_result}}";
}
$("#region_chkbox_all").click(function(e) {
    if (d3.select("#region_chkbox_all").property("checked") == true) {
        for (var i = 0; i < regions.length; i++) {
            d3.select("#region_chkbox_" + String(i)).property("checked", true);
            is_region_chkboxes.splice(i, 1, true);
        }
    } else {
        for (var i = 0; i < regions.length; i++) {
            d3.select("#region_chkbox_" + String(i)).property("checked", false);
            is_region_chkboxes.splice(i, 1, false);
        }
    }
});


$("#btn_analysis").click(function(e) {
    var $this = $(this);
    var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> 분석 중';
    if ($(this).html() != loadingText) {
        $this.data('original-text', $(this).html());
        $this.html(loadingText);
        var select_region_connectivity = document.getElementById("select_region_connectivity");
        var select_region_noise_filter = document.getElementById("select_region_noise_filter");

        var region_threshold = document.getElementById("region_threshold").value;
        var region_connectivity = select_region_connectivity.options[select_region_connectivity.selectedIndex].value;
        var region_noise_filter = select_region_noise_filter.options[select_region_noise_filter.selectedIndex].value;
        var severity_threshold =  document.getElementById("severity_threshold").value;
        document.getElementById("btn_analysis").disabled = true;

        $.ajax({
            url: "{% url 'analysis' %}",
            type: "POST",
            data: {
                name: 'analysis',
                image_pk: '{{ image_pk }}',
                region_threshold: region_threshold,
                region_connectivity: region_connectivity,
                region_noise_filter: region_noise_filter,
                severity_threshold: severity_threshold,
            },
            success: function (response) {
                get_cracks();
                get_regions();
                d3.select("#radio_seg_no_th").property("disabled", false);
                d3.select("#radio_seg_th").property("disabled", false);
                d3.select("#radio_seg_hl").property("disabled", false);
                d3.select("#chkbox_cls").property("disabled", false);
                d3.select("#chkbox_region").property("disabled", false);
                d3.select("#radio_region_bbox").property("disabled", false);
                d3.select("#radio_region").property("disabled", false);
                d3.select("#chkbox_severity_point").property("disabled", false);
                d3.select("#chkbox_region_severity_point").property("disabled", false);
                d3.select("#chkbox_patching_bbox").property("disabled", false);
                d3.select("#chkbox_patching_contour").property("disabled", false);
                d3.select("#chkbox_patching_seg").property("disabled", false);
                $this.html($this.data('original-text'));
                document.getElementById("btn_analysis").disabled = false;
            }
        });
    }
});

</script>
<link rel="stylesheet" type="text/css" href="{% static "css/imagedetail.css" %}">
<script type="text/javascript" src="{% static "canvas/trackTransforms.js" %}"></script>
<script type="text/javascript" src="{% static "canvas/strPreprocessing.js" %}"></script>

{% endblock jquery %}

{% block footer %}
    <span class="text-muted">Footer From Front Page.</span>
{% endblock footer %}
